.interactive-avatar {
    height: rem(74px);
    width: rem(74px);
    box-shadow: inset 0 0p 0 rem(6px) transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: rem(6px);

        &:last-child {
            margin-right: 0;
        }

        &--active {
            box-shadow: inset 0 0 0 rem(6px) #FEDB3F;
        }
}

.interactive-avatar__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.interactive-avatar__img {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}